:root {
  --color-text: #555;
  --color-neutral: #fff;
  --color-heading-color: #333;
  --color-primary: #e67e22;
  --color-primary-shade: #cf711f;
  --color-primary-tint: #fdf2e9;
  --primary-font-family: sans-serif;

  --transition-duration: 300ms;
}

.wrapper {
  --width: 71.25rem;
  max-width: var(--width);
  margin: 0 auto;
}

.wrapper--hero {
  --width: 81.25rem;
}

/* HERO */

.section-hero {
  background-color: var(--color-primary-tint);
  padding: 6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
}

.hero__description {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.hero__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
