:root {
  --color-text: #555;
  --color-text-tint: #ddd;
  --color-neutral: #fff;
  --color-heading-color: #333;
  --color-primary: #e67e22;
  --color-primary-shade: #cf711f;
  --color-primary-tint-medium: #fae5d3;
  --color-primary-tint: #fdf2e9;
  --primary-font-family: "Rubik", sans-serif;

  --transition-duration: 300ms;
}

.wrapper {
  --width: 75rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 2rem;
}

.wrapper--hero {
  --width: 81.25rem;
}

/* HEADER & NAVIGATION */

.header {
  --sticky-height: 6rem;

  height: var(--sticky-height);
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-tint);
}

.logo__image {
  height: 1.375rem;
}

/* HERO */

.section-hero {
  background-color: var(--color-primary-tint);
  padding: 3rem 0 6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
}

.hero__description {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.hero__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.customers {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.customers__photos {
  display: flex;
}

.customers__photo {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 3px solid var(--color-primary-tint);
}

.customers__photo:not(:last-child) {
  margin-right: -1rem;
}

.customers__title {
  font-size: 1.125rem;
  font-weight: 600;
}

.customers__count {
  color: var(--color-primary-shade);
}

/* FEATURED */

.section-featured {
  padding: 3rem 0 2rem 0;
}

.featured__title {
  --local-color: #999;
  font-size: 0.875rem;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--local-color);
}

.featured__companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.featured__company {
  height: 2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* HOW */

.section-how {
  padding: 6rem 0;
}

.how__step {
  font-size: 5.375rem;
  font-weight: 600;
  color: var(--color-text-tint);
  margin-bottom: 0.75rem;
}

.how__image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how__image-container::after,
.how__image-container::before {
  --size: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: var(--size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary-tint);
}

.how__image-container::before {
  --size: 60%;
  z-index: -2;
}

.how__image-container::after {
  --size: 45%;
  z-index: -1;
  background-color: var(--color-primary-tint-medium);
}

.how__image {
  width: 35%;
}

.how__description {
  font-size: 1.125rem;
  line-height: 1.8;
}

/* GLOBAL */

.list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.grid {
  display: grid;
  row-gap: 6rem;
  column-gap: 4rem;
}

.grid-center {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
