.heading__primary {
  font-size: 3.25rem;
  line-height: 1.05;
  color: var(--color-heading-color);
  letter-spacing: -0.5px;
  margin-bottom: 2rem;
}

.heading__secondary {
  font-size: 2.75rem;
  line-height: 1.2;
  color: var(--color-heading-color);
  letter-spacing: -0.5px;
  margin-bottom: 6rem;
}

.heading__tertiary {
  font-size: 1.875rem;
  line-height: 1.2;
  color: var(--color-heading-color);
  letter-spacing: -0.5px;
  margin-bottom: 2rem;
}

.subtitle {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary-shade);
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1rem;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
}

.link--general:link,
.link--general:visited {
  font-weight: 600;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: var(--color-neutral);
  border-radius: 9px;
  transition: var(--transition-duration);
}

.link--primary:link,
.link--primary:visited {
  background-color: var(--color-primary);
}

.link--primary:hover {
  background-color: var(--color-primary-shade);
}

.link--secondary:link,
.link--secondary:visited {
  background-color: var(--color-neutral);
  color: var(--color-text);
}

.link--secondary:hover {
  box-shadow: 0 0 0 3px var(--color-neutral) inset;
  background-color: var(--color-primary-tint);
}

.link--navigation:link,
.link--navigation:visited {
  font-size: 1.125rem;
  color: var(--color-heading-color);
  font-weight: 500;
  transition: color var(--transition-duration);
}

.link--navigation:hover {
  color: var(--color-primary-shade);
}

.link--cta:link,
.link--cta:visited {
  color: var(--color-neutral);
  padding: 0.75rem 1.5rem;
  border-radius: 9px;
}
