:root {
  --color-primary-light: 126, 213, 111;
  --color-primary-medium: 85, 197, 122;
  --color-primary-dark: 40, 180, 133;
  --color-text: #777;
  --color-neutral: #fff;
  --color-gray-light-1: #f7f7f7;
  --primary-font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  --local-padding: 3rem;
  font-size: 1.6rem;
  font-family: var(--primary-font-family);
  line-height: 1.7;
  color: var(--color-text);
  padding: var(--local-padding);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.u-margin-bottom-2 {
  margin-bottom: 2rem;
}

.u-margin-bottom-6 {
  margin-bottom: 6rem;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-center-text {
  text-align: center;
}

.heading__primary {
  color: var(--color-neutral);
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading__primary--top {
  --size: 6rem;
  display: block;
  font-size: var(--size);
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: showFromLeft var(--animation-heading-duration) ease-in;
}
@keyframes showFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.heading__primary--bottom {
  --size: 2rem;
  display: block;
  font-size: var(--size);
  font-weight: 700;
  letter-spacing: 1.74rem;
  animation: showFromRight var(--animation-heading-duration) ease-in;
}
@keyframes showFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.heading__secondary {
  display: inline-block;
  background-image: linear-gradient(to right, rgb(var(--color-primary-light)), rgb(var(--color-primary-dark)));
  color: transparent;
  background-clip: text;
  font-size: 3.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 300ms;
}
.heading__secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading__tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.link:link, .link:visited {
  --transition-duration: 300ms;
  display: inline-block;
  text-decoration: none;
}
.link--general:link, .link--general:visited {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  transition: var(--transition-duration);
}
.link--general:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.link--general:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.link--white:link, .link--white:visited {
  --local-background: var(--color-neutral);
  background-color: var(--local-background);
  color: var(--color-text);
}
.link--animate:link, .link--animate:visited {
  position: relative;
  animation: showFromBottom var(--animation-heading-duration) ease-in;
}
@keyframes showFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.link::after {
  position: absolute;
  background-color: var(--local-background);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10rem;
  content: "";
  transition: var(--transition-duration);
}
.link:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.link--secondary:link, .link--secondary:visited {
  font-size: 1.6rem;
  color: rgb(var(--color-primary-medium));
  padding: 3px;
  border-bottom: 1px solid rgb(var(--color-primary-medium));
  transition: var(--transition-duration);
}
.link--secondary:hover {
  background-color: rgb(var(--color-primary-medium));
  color: var(--color-neutral);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.link--secondary:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.logo:link, .logo:visited {
  --positioning: 4rem;
  --size: 3.5rem;
  position: absolute;
  top: var(--positioning);
  left: var(--positioning);
}
.logo__image {
  height: var(--size);
}

.composition {
  position: relative;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  outline-offset: 2rem;
  transition: 300ms;
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  top: 10rem;
  left: 20%;
}
.composition__photo:hover {
  outline: 1.5rem solid rgb(var(--color-primary-medium));
  z-index: 10;
  transform: scale(1.05) translateY(-0.4rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}

.feature {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.8);
  transition: 300ms;
}
.feature__icon {
  display: inline-block;
  background-image: linear-gradient(to right, rgb(var(--color-primary-light)), rgb(var(--color-primary-dark)));
  color: transparent;
  background-clip: text;
  font-size: 6rem;
  margin-bottom: 0.5rem;
}
.feature:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.header {
  --opacity: 0.8;
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgb(var(--color-primary-light), var(--opacity)), rgb(var(--color-primary-dark), var(--opacity))), url("./../img/hero.jpg");
  background-size: cover;
  background-position: center top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__content {
  --animation-heading-duration: 1s;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  --width: 114rem;
  --vertical-gutter: 8rem;
  --horizontal-gutter: 6rem;
  max-width: var(--width);
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: var(--vertical-gutter);
}
.row [class^=col] {
  float: left;
}
.row [class^=col]:not(:last-child) {
  margin-right: var(--horizontal-gutter);
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.row .col-1-of-2 {
  width: calc((100% - var(--horizontal-gutter)) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * var(--horizontal-gutter)) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * var(--horizontal-gutter)) / 3 + var(--horizontal-gutter));
}
.row .col-1-of-4 {
  width: calc((100% - 3 * var(--horizontal-gutter)) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * var(--horizontal-gutter)) / 4 + var(--horizontal-gutter));
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * var(--horizontal-gutter)) / 4 + 2 * var(--horizontal-gutter));
}

.section-about {
  background-color: var(--color-gray-light-1);
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  --opacity: 0.8;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgb(var(--color-primary-light), var(--opacity)), rgb(var(--color-primary-dark), var(--opacity))), url("./../img/nat-4.jpg");
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}

/*# sourceMappingURL=style.css.map */
