:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-neutral: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2);
}

.wrapper {
  --width: 120rem;
  --horizontal-margin: 8rem;
  max-width: var(--width);
  margin: var(--horizontal-margin) auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}

.header {
  --height: 7rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--height);
  background-color: var(--color-neutral);
  border-bottom: 1px solid var(--color-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: var(--color-neutral);
}

.logo {
  --size: 3.25rem;
  margin-left: 2rem;
}
.logo__image {
  height: var(--size);
}

.search {
  --size_icon: 2rem;
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__icon {
  height: var(--size_icon);
  width: var(--size_icon);
  fill: var(--color-grey-dark-3);
}
.search__input {
  margin-right: -3.25rem;
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  padding: 0.7rem 2rem;
  border-radius: 10rem;
  background-color: var(--color-grey-light-2);
  width: 90%;
  transition: 0.3s;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}
.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}
.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
  transition: 0.3s;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}

.user-nav {
  --size_icon: 2.25rem;
  --size_avatar: 3.75rem;
  --notification-size: 1.75rem;
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
  transition: 0.3s;
  cursor: pointer;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__icon {
  height: var(--size_icon);
  width: var(--size_icon);
  fill: var(--color-grey-dark-3);
}
.user-nav__image {
  height: var(--size_avatar);
  border-radius: 50%;
}
.user-nav__user {
  gap: 1rem;
}
.user-nav__notification {
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  height: var(--notification-size);
  width: var(--notification-size);
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-neutral);
}

.list {
  --size_icon: 1.75rem;
  font-size: 1.4rem;
  list-style-type: none;
  margin-top: 3.5rem;
}
.list__item {
  position: relative;
}
.list__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.3s, width 0.3s 0.3s;
}
.list__item:hover::before, .list__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.list__icon {
  height: var(--size_icon);
  width: var(--size_icon);
  margin-right: 2rem;
  fill: currentColor;
}

.copyright {
  margin-top: auto;
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}

.link:link, .link:visited {
  display: inline-block;
  text-decoration: none;
}
.link--navigation:link, .link--navigation:visited {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  color: var(--color-grey-light-1);
}

/*# sourceMappingURL=style.css.map */
