* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.article {
  position: relative;
  width: 825px;
  margin: 50px auto;

  border: 4px solid #000;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.article-informations {
  float: left;
  margin-top: 20px;
  width: 243px;
  margin-right: 40px;
}

.article-list-container {
  float: left;
  width: 243px;
}

.article-img {
  float: left;
  margin-right: 40px;
}

.article::after {
  position: absolute;
  top: -17px;
  left: -38px;
  content: "SALE";
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 7px 15px;
  letter-spacing: 2px;
}

.article-title {
  padding: 15px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
}

.article-price {
  font-size: 24px;
  float: left;
}

.article-type {
  float: right;
  margin-top: 10px;
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;

  margin-bottom: 20px;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #000;
  margin-bottom: 30px;
}

.link:hover {
  text-decoration: none;
}

.article-list {
  list-style-type: square;
  margin-left: 20px;
}

.article-list li {
  margin-bottom: 10px;
}

.article-list li:last-child {
  margin-bottom: 0;
}

.article-list-title {
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn {
  width: 100%;
  text-transform: uppercase;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  border-top: 4px solid #000;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}

.color {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.color:last-child {
  margin-right: 0;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}
