/* GŁÓWNE ELEMENTY */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.primary-header {
  min-height: 80px;
  padding: 20px 40px;
  margin-bottom: 60px;
  background-color: #f7f7f7;
}

nav {
  font-size: 18px;
}

.post-header {
  margin-bottom: 40px;
}

article {
  margin-bottom: 60px;
}

.related {
  width: 500px;
  padding: 50px 0;
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

.post-image {
  width: 100%;
}

/* ELEMENTY TEKSTU */

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:first-child {
  font-weight: 700;
}

li:last-child {
  margin-bottom: 0;
}

a:link,
a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: red;
}

.copyright {
  font-size: 16px;
}

.author {
  font-style: italic;
  font-size: 18px;
}

.related-list {
  list-style-type: none;
}

.related-author {
  font-size: 18px;
  font-weight: 700;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}

nav a:link:last-child {
  margin-right: 0;
}
