@use "./../../abstracts/mixins" as *;

.composition {
  position: relative;
  z-index: 2;

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 2rem;
    transition: 300ms;

    @include media(tab-port) {
      float: left;
      position: relative;
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
      width: 33.33%;
    }

    &--p1 {
      top: -2rem;
      left: 0;
      @include media(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;
      @include media(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 2;
      }
    }

    &--p3 {
      top: 10rem;
      left: 20%;
      @include media(tab-port) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      outline: 1.5rem solid rgb(var(--color-primary-medium));
      z-index: 10;
      transform: scale(1.05) translateY(-0.4rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    }
  }
}
