@use "./../../abstracts/mixins" as *;

.feature {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.8);

  transition: 300ms;

  @include media(tab-port) {
    padding: 2rem;
  }
  &__icon {
    display: inline-block;
    background-image: linear-gradient(
      to right,
      rgb(var(--color-primary-light)),
      rgb(var(--color-primary-dark))
    );
    color: transparent;
    background-clip: text;
    font-size: 6rem;
    margin-bottom: 0.5rem;

    @include media(tab-port) {
      margin-bottom: 0;
    }
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
