@use "./../abstracts/mixins" as *;

.row {
  --width: 114rem;
  --vertical-gutter: 8rem;
  --horizontal-gutter: 6rem;

  max-width: var(--width);
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: var(--vertical-gutter);
    @include media(tab-port) {
      --vertical-gutter: 6rem;
    }
  }

  @include media(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  [class^="col"] {
    float: left;
    &:not(:last-child) {
      margin-right: var(--horizontal-gutter);

      @include media(tab-port) {
        --vertical-gutter: 6rem;
        margin-right: 0;
        margin-bottom: var(--vertical-gutter);
      }
    }

    @include media(tab-port) {
      width: 100% !important;
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  .col-1-of-2 {
    width: calc((100% - var(--horizontal-gutter)) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * var(--horizontal-gutter)) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * var(--horizontal-gutter)) / 3) + var(--horizontal-gutter)
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * var(--horizontal-gutter)) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * var(--horizontal-gutter)) / 4) + var(--horizontal-gutter)
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * var(--horizontal-gutter)) / 4) + 2 *
        var(--horizontal-gutter)
    );
  }
}
