@use "./../abstracts/mixins" as *;

.header {
  --opacity: 0.8;
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgb(var(--color-primary-light), var(--opacity)),
      rgb(var(--color-primary-dark), var(--opacity))
    ),
    url("./../img/hero.jpg");
  background-size: cover;
  background-position: center top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include media(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__content {
    --animation-heading-duration: 1s;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
