@use "./variables" as *;

.wrapper {
  --width: 120rem;
  --horizontal-margin: 8rem;
  max-width: var(--width);
  margin: var(--horizontal-margin) auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  --height: 7rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--height);
  background-color: var(--color-neutral);
  border-bottom: 1px solid var(--color-grey-light-2);
  @media only screen and (max-width: $bp-smallest) {
    --height: 12rem;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.content {
  display: flex;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: var(--color-neutral);
}
