:root {
  --color-primary-light: 126, 213, 111;
  --color-primary-medium: 85, 197, 122;
  --color-primary-dark: 40, 180, 133;
  --color-text: #777;
  --color-neutral: #fff;

  --primary-font-family: "Lato", sans-serif;
}
