:root {
  --color-primary-light: 126, 213, 111;
  --color-primary-medium: 85, 197, 122;
  --color-primary-dark: 40, 180, 133;

  --color-text: #777;
  --color-darker: #333;
  --color-dark-text: #999;
  --color-neutral: #fff;
  --color-gray-light-1: #f7f7f7;

  --primary-font-family: "Lato", sans-serif;
}
