@use "./../abstracts/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @include media(tab-land) {
    font-size: 56.25%;
  }

  @include media(tab-port) {
    font-size: 50%;
  }

  @include media(big-desktop) {
    font-size: 75%;
  }
}

body {
  --local-padding: 3rem;
  font-size: 1.6rem;
  font-family: var(--primary-font-family);
  line-height: 1.7;
  color: var(--color-text);
  padding: var(--local-padding);
  -webkit-font-smoothing: antialiased;

  @include media(tab-port) {
    --local-padding: 0;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
