@use "./../abstracts/mixins" as *;

.heading__primary {
  color: var(--color-neutral);
  text-transform: uppercase;
  backface-visibility: hidden;
  &--top {
    --size: 6rem;
    display: block;
    font-size: var(--size);
    font-weight: 400;
    letter-spacing: 3.5rem;

    @include keyframes(showFromLeft) {
      0% {
        opacity: 0;
        transform: translateX(-10rem);
      }
      80% {
        opacity: 1;
        transform: translateX(1rem);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @include media(phone) {
      --size: 5rem;
      letter-spacing: 1rem;
    }

    animation: showFromLeft var(--animation-heading-duration) ease-in;
  }
  &--bottom {
    --size: 2rem;
    display: block;
    font-size: var(--size);
    font-weight: 700;
    letter-spacing: 1.74rem;

    @include keyframes(showFromRight) {
      0% {
        opacity: 0;
        transform: translateX(10rem);
      }
      80% {
        opacity: 1;
        transform: translateX(-1rem);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @include media(phone) {
      letter-spacing: 0.5rem;
    }

    animation: showFromRight var(--animation-heading-duration) ease-in;
  }
}

.heading__secondary {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    rgb(var(--color-primary-light)),
    rgb(var(--color-primary-dark))
  );
  color: transparent;
  background-clip: text;

  font-size: 3.5rem;
  letter-spacing: 2px;

  text-transform: uppercase;

  transition: 300ms;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  @include media(tab-port) {
    font-size: 3rem;
  }

  @include media(phone) {
    font-size: 2.5rem;
  }
}

.heading__tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
